defaultconfigs
downloads
essential
local
logs
saves
screenshots
XaeroWaypoints
XaeroWaypoints*
XaeroWorldMap
.curseclient
imgui.ini
minecraftinstance.json
ops.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
whitelist.json
